*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    overflow: hidden;
    display: grid;
    grid-template-columns: 310px 1fr;
}
.aside{
    width: 350px;
    background: #18ACCD;
    border-radius: 0px 30px 30px 0px;
    height: 100vh;
    position: relative;
    color: #fff;
    font-size: 23px;
}
.logoWrapper{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 30px;
    margin-bottom: 54px;
    padding-top: 20px;
}
.logo{
    width: 74px;
    height: 74px;
    background-color: #083A45;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 35px;
    height: 35px;
}
.field{
    display: flex;
    align-items: center;
    height: 100px;
    text-decoration: none;
    color: #fff;
    position: relative;
    border: none;
    border-radius: 0;
    font-size: 23px;
    background-color: #18ACCD;
}
.field:hover{
    background: #1590AB;
}
.field:last-child{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 90px;
}
.fieldItem{
    margin-left: 40px;
}
.main{
    font-size: 24px;
    width: 100%;
}
.currentField, .activeTasks{
    margin-left: 87px;
    color: #18ACCD;
}
.currentField{
    margin-top: 40px;
    margin-bottom: 30px;
}
.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #18ACCD;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}
.activeTasks{
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
    font-size: 16px;
}
.arrow{
    font-size: 20px;
    margin-left: 30px;
}
.task{
    display: flex;
    width: 1027px;
    height: 60px;
    border: 1px solid #000;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #18ACCD;
    position: relative;
}
.taskDesc{
    border-right: 1px solid #000;
    height: 39px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
}
.taskDesc input{
    background-color: #fff;
}
.enterTask{
    outline: none;
    border: none;
    width: 563px;
    height: 35px;
    margin-left: 20px;
}
.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 40px;
}
.taskNumber{
    margin-right: 20px;
}
.settings{
    font-size: 24px;
    width: 100%;
}
.settingsSection{
    font-size: 18px;
    color: #18ACCD;
    position: absolute;
    top: -40px;
}
.second{
    margin-left: 100px;
}
.settingsBlock{
    border: 1px solid #000;
    border-radius: 30px;
    width: 300px;
    display: inline-block;
    position: relative;
}
.sb1{
    height: 460px;
}
.sb2{
    margin-left: 63px;
    height: 460px;
}
#updateAvatar{
    display: none;
}
.titleForm{
    font-size: 16px;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.firstBlock{
    padding: 20px;
}
.secondBlock{
    padding: 20px;
}
.firstBlock form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondBlock form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 10px 5px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 13px;
    font-size: 12px;
    width: 95%;
}

.firstBlock input, .secondBlock input{
    padding: 10px 5px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 13px;
    font-size: 12px;
    margin-bottom: 16px;
    width: 95%;
}

input::placeholder{
    color: #CCCCCC;
}
.btn{
    background: #18ACCD;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    transition: .3s;
    border: none;
    border: 1px solid #18ACCD;
    border-radius: 13px;
    padding: 10px 5px;
}
.btn:hover {
    background-color: #376699;
    transition: .3s;
}
.uploadAvatar{
    position: relative;
    display: flex;
    height: 144.8px;
    border: 1px solid #000;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    font-size: 14px;
    gap: 40px;
}
.uploadAvatar i{
    margin-left: 30px;
    font-size: 50px;
    justify-content: flex-start;
}
.titleSection{
    margin-left: 87px;
}
.taskWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 20px;
}
.taskCategory{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #18ACCD;
    gap: 100px;
    height: 30px;
}
.taskCategory div{
    display: flex;
    cursor: pointer;
}
.taskCategory div{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.active{
    color: #083A45;
}
.deadline{
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: none;
}
.doneTask{
    color: #fff;
    background-color: #18ACCD;
    border: 1px solid #1590AB;
}
.done{
    border-right: 1px solid #fff;
}
.taskDone input{
    background-color: #18ACCD;
    color: #fff;
}
.taskDone input::placeholder{
    color: #fff;
}
.done input{
    background-color: #18ACCD;
    color: #fff;
}
.radioDone{
    border: 1px solid #fff;
    background-color: #fff;
}
.avatar{
    display: none;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.profilePhoto{
    width: 74px;
    height: 74px;
    background-color: #083A45;
    border-radius: 50%;
    object-fit: cover;
}
.wrapBlocks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.sett{
    margin: 0px;
    display: inline-block;
    position: absolute;
    left: 87px;
}
.field i {
    display: none;
    position: absolute;
    right: 20px;
}
.field:hover i {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 20px;
}
.editSections{
    color: #18ACCD;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 87px;
}
.editSections:hover{
    color: #083A45;
}
.groupSett{
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 100px;
    position: relative;
}
.trash{
    cursor: pointer;
}
.completedTrash{
    position: absolute;
    right: 40px;
}