*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
}
.aside{
    width: 319px;
    background: #18ACCD;
    border-radius: 0px 30px 30px 0px;
    height: 100vh;
    position: relative;
    color: #fff;
    font-size: 23px;
}
.logoWrapper{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 30px;
    margin-bottom: 54px;
    padding-top: 20px;
}
.logo{
    width: 74px;
    height: 74px;
    background-color: #083A45;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 35px;
    height: 35px;
}
.field{
    display: flex;
    align-items: center;
    height: 100px;
}
.field:hover{
    background: #1590AB;
}
.field:last-child{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 90px;
}
.fieldItem{
    margin-left: 40px;
}
.main{
    font-size: 24px;
}
.currentField, .activeTasks{
    margin-left: 87px;
    color: #18ACCD;
}
.currentField{
    margin-top: 40px;
    margin-bottom: 30px;
}
.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 37px;
    background-color: #18ACCD;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
.activeTasks{
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
    font-size: 16px;
}
.task{
    display: flex;
    width: 1027px;
    height: 60px;
    border: 1px solid #000;
    margin-left: 87px;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 16px;
}
.taskDesc{
    border-right: 1px solid #000;
    height: 39px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
    color: #18ACCD;
}
.enterTask{
    outline: none;
    border: none;
    width: 505px;
    height: 35px;
    margin-left: 20px;
}
.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 80px;
    cursor: pointer;
}
.taskNumber{
    margin-right: 20px;
}

