<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>varietyx</title>
    <link rel="stylesheet" href="index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="aside">
        <div class="logoWrapper">
            <div class="logo">
                <img src="img/Vector.svg">
            </div>
            <div class="currentUser">Варвара</div>
        </div>
        
        <div class="field"><p class="fieldItem">Дом</p></div>
        <div class="field"><p class="fieldItem">Учеба</p></div>
        <div class="field"><p class="fieldItem">Работа</p></div>
        <div class="field"><p class="fieldItem">Настройки</p></div>
    </div>

    <div class="settings">
        <div class="currentField">Настройки</div>
        

    </div>
</body>
</html>